<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="statics/js/bootstrap.min.js">
    <link rel="stylesheet" href="popper.min.js">
    <title>Ecuaciones de 2do grado</title>
</head>
<body>
    <h2>Formulario de Ecuaciones</h2>

    <form action="">
      <label for="ecuacion1">Input de ecuación:</label><br>
      <input type="text" id="ecuacion1" name="ecuacion1"><br>
      <label for="ecuacion2">Input de ecuación:</label><br>
      <input type="text" id="ecuacion2" name="ecuacion2"><br>
      <label for="ecuacion3">Input de ecuación:</label><br>
      <input type="text" id="ecuacion3" name="ecuacion3"><br>
      <label for="ecuacion4">Input de ecuación:</label><br>
      <input type="text" id="ecuacion4" name="ecuacion4"><br>
    
      <p>Variables:</p>
      <input type="checkbox" id="x" name="x">
      <label for="x">X</label><br>
      <input type="checkbox" id="y" name="y">
      <label for="y">Y</label><br>
      <input type="checkbox" id="z" name="z">
      <label for="z">Z</label><br>
      <input type="checkbox" id="w" name="w">
      <label for="w">W</label><br>
    
      <p>Superparámetros:</p>
      <label for="tamanoPoblacion">Tamaño de población:</label><br>
      <input type="text" id="tamanoPoblacion" name="tamanoPoblacion"><br>
      <label for="numeroIteraciones">Número de iteraciones:</label><br>
      <input type="text" id="numeroIteraciones" name="numeroIteraciones"><br>
    
      <input type="submit" value="Generar vista histórica">
      <input type="submit" value="Generar resultado">
    </form> 
</body>
</html>