<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:5500/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://127.0.0.1:5500/static/style.css">
    <!-- <script src="http://127.0.0.1:5500/static/js/bootstrap.min.js"></script> -->
    <!-- <script src="http://127.0.0.1:5500/static/js/popper.min.js"></script> -->
    <script src="http://127.0.0.1:5500/static/function.js"></script>
    
    <link rel="stylesheet" href="http://127.0.0.1:5500/static/mathquill/mathquill.css"/>
    <script src="http://127.0.0.1:5500/static/jquery/jquery.min.js"></script>
    <script src="http://127.0.0.1:5500/static/mathquill/mathquill.js"></script>
    <script>
        var MQ = MathQuill.getInterface(2);
    </script>

    <title>Ecuaciones de 2do grado</title>
</head>
  <body>
    <h2>Formulario de Ecuaciones</h2>
    <form>
        <div class="card p-4 shadow-sm mb-4 bg-silver">
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="ecuacion1">Input de ecuación 1:</label><br>
                    <!-- <input class="form-control border-secondary" type="text" id="ecuacion1" name="ecuacion1" oninput="highlightVariables(this.value)" placeholder="e.j. x**2 + 1">
                    <div class="d-flex justify-content-start">
    
                        <div class="me-3">
                            <input type="radio" id="max1" name="opt1" value="max1" checked>
                            <label for="max1">Maximizar</label><br>
                        </div>
                        
                        <div>
                            <input type="radio" id="min1" name="opt1" value="min1">
                            <label for="min1">Minimizar</label><br>
                        </div>
    
                    </div> -->
                    
                    <p>Escribe <span id="abc">asd</span></p>
                    <p>LaTex <span id="latex">asd</span></p>

                    
                    <div class="d-flex justify-content-start">
    
                        <div class="me-3">
                            <input type="radio" id="max1" name="opt1" value="max1" checked>
                            <label for="max1">Maximizar</label><br>
                        </div>
                        
                        <div>
                            <input type="radio" id="min1" name="opt1" value="min1">
                            <label for="min1">Minimizar</label><br>
                        </div>
    
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <label for="ecuacion2">Input de ecuación 2:</label><br>
                    <input class="form-control border-secondary" type="text" id="ecuacion2" name="ecuacion2" oninput="highlightVariables(this.value)">
                    <div class="d-flex justify-content-start">
                        
                        <div class="me-3">
                            <input type="radio" id="max2" name="opt2" value="max2" checked>
                            <label for="max2">Maximizar</label><br>
                        </div>
                        
                        <div class="me-3">
                            <input type="radio" id="min2" name="opt2" value="min2">
                            <label for="min2">Minimizar</label><br>
                        </div>
                    
                    </div>
                </div>

                <div class="col-6 mb-3">
                  <label for="ecuacion3">Input de ecuación 3: </label><br>
                  <input class="form-control border-secondary" type="text" id="ecuacion3" name="ecuacion3" oninput="highlightVariables(this.value)">
                  <div class="d-flex justify-content-start"> 
                      
                      <div class="me-3">
                          <input type="radio" id="max3" name="opt3" value="max3" checked>
                          <label for="max3">Maximizar</label><br>
                      </div>
                      
                      <div class="me-3">
                          <input type="radio" id="min3" name="opt3" value="min3">
                          <label for="min3">Minimizar</label><br>
                      </div>

                  </div>
              </div>

                <div class="col-6 mb-3">
                    <label for="ecuacion4">Input de ecuación 4:</label><br>
                   <span> <input class="form-control border-secondary" type="text" id="ecuacion4" name="ecuacion4" oninput="highlightVariables(this.value)"></span>
                    <div class="d-flex justify-content-start">
                        
                        <div class="me-3">
                            <input type="radio" id="max4" name="opt4" value="max4" checked>
                            <label for="max4">Maximizar</label><br>
                        </div>
                        
                        <div class="me-3">
                            <input type="radio" id="min4" name="opt4" value="min4">
                            <label for="min4">Minimizar</label><br>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-4 shadow-sm mb-4 bg-silver">
            <div class="row">
                <div class="col-6">

                    <h4>Variables:</h4>
                    <div>
                        <div id="x" class="variable" style="width: 20px"></div>
                        <label for="x">X</label>
                    </div>
                    <div>
                        <div id="y" class="variable" style="width: 20px"></div>
                        <label for="y">y</label>
                    </div>
                    <div>
                        <div id="z" class="variable" style="width: 20px"></div>
                        <label for="z">z</label>
                    </div>
                    <div>
                        <div id="w" class="variable" style="width: 20px"></div>
                        <label for="w">w</label>
                    </div>

                </div>
                <div class="col-6">
                    <h4>Superparámetros:</h4>

                    <label for="tamanoPoblacion">Tamaño de población:</label><br>
                    <input class="form-control border-secondary" type="text" id="tamanoPoblacion" name="tamanoPoblacion"><br>

                    <label for="numeroIteraciones">Número de iteraciones:</label><br>
                    <input class="form-control border-secondary" type="text" id="numeroIteraciones" name="numeroIteraciones"><br>

                    <!-- <input type="submit" value="Generar vista histórica"> -->
                    <button class="btn btn-outline-dark">Generar vista histórica</button>
                    <!-- <input class="form-control border-secondary" type="submit" value="Generar resultado"> -->
                    <input type="submit" class="btn btn-outline-dark ms-3" value="Generar resultado">
                </div>
            </div>
        </div>
    </form> 
  </body>
</html>